# Environments
.env
venv/
env/

# Python cache
__pycache__/
*.pyc

# Uploads/Images (opsional, agar foto CCTV tidak menuhi GitHub)
uploads/
images/

# AI Models (agar file model berukuran besar tidak di-push ke GitHub)
*.pt